/*Responsive for Mobile Device */
@media (max-width: 575.98px) {

    /* =========================
            typography start
       ========================= */
    .main-heading {
        font-size: 32px;
        line-height: 50px;
    }

    .header-pragraph {
        font-size: 14px;
        line-height: 24px;
        width: auto;
    }

    .line-marker {
        position: absolute;
        top: 42px;
        right: -35px;
        width: 150px;
    }

    /* =========================
            typography end
       ========================= */
    /* =========================
            header start
       ========================= */
    header {
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-image01 {
        display: none;
    }

    .bdCricketBatch {
        display: none;
    }

    .header-image02 {
        display: none;
    }

    /* =========================
            header end
       ========================= */
    /* =========================
            main start
       ========================= */

    main .main-content {
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .main-content .side-bar {
        width: 295px;
        height: 1070px;
        margin: auto;
    }

    .main-content .adjust-hieght {
        height: 400px;
    }

    .main-content .cards-content .cards {
        grid-template-columns: repeat(1, 1fr);

    }

    .main-content .sports-card {
        width: 295px;
        margin: auto;
    }

    /* =========================
            main end
       ========================= */
}


/*Responsive for Mobile Landscpae Device */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* =========================
            typography start
       ========================= */
    .main-heading {
        font-size: 40px;
        line-height: 50px;
    }

    .header-pragraph {
        font-size: 18px;
        line-height: 28px;
        width: auto;
    }

    .card-title {
        font-size: 22px;
    }

    .line-marker {
        position: absolute;
        top: 50px;
        right: -20px;
        width: 150px;
    }

    /* =========================
            typography end
       ========================= */
    /* =========================
            header start
       ========================= */
    header {
        padding-top: 60px;
    }

    .header-image01 {
        display: none;
    }

    .bdCricketBatch {
        display: none;
    }

    .header-image02 {
        display: none;
    }

    /* =========================
            header end
       ========================= */
    /* =========================
            main start
       ========================= */

    main .main-content {
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .main-content .side-bar {
        width: 295px;
        height: 1070px;
        margin: auto;
    }

    .main-content .adjust-hieght {
        height: 400px;
    }

    .main-content .cards-content .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-content .sports-card {
        width: 245px;
    }

    .selectBtn,
    .budgetBtn {
        width: 100%;
    }

    /* =========================
            main end
       ========================= */
}

/*Responsive for Medium Device */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* =========================
            typography start
       ========================= */
    .main-heading {
        font-size: 30px;
        line-height: 36px;
    }

    .header-pragraph {
        font-size: 15px;
        line-height: 24px;
        width: 430px;
    }

    .card-title {
        font-size: 22px;
    }

    .line-marker {
        position: absolute;
        top: 40px;
        right: -13px;
        width: 115px;
    }

    /* =========================
            typography end
       ========================= */
    /* =========================
            header start
       ========================= */
    header {
        padding-top: 100px;
    }

    .header-image01 {
        width: 145px;
        height: 230px;
        top: 119px;
        left: 0;
    }

    .header-image02 {
        top: 168px;
        right: 0;
        width: 151px;
        height: 180px;
    }

    .bdCricketBatch {
        width: 50px;
        height: 50px;
        top: -60px;
        right: 17%;
    }

    /* =========================
            header end
       ========================= */
    /* =========================
            main start
       ========================= */

    main .main-content {
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .main-content .side-bar {
        width: 100%;
        margin-left: 0;
        height: 675px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .select-v,
    .budget {
        width: 335px;
    }

    .main-content .cards-content .cards {
        grid-template-columns: repeat(2, 1fr);

    }

    .main-content .sports-card {
        width: 335px;

    }

    /* =========================
            main end
       ========================= */
}

/*Responsive for large Device */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* =========================
            typography start
       ========================= */
    .main-heading {
        font-size: 38px;
        line-height: 42px;
    }

    .header-pragraph {
        font-size: 16px;
        line-height: 28px;
        width: 516px;
    }

    .card-title {
        font-size: 22px;
    }

    .line-marker {
        top: 48px;
        right: -25px;
        width: 160px;
    }

    /* =========================
            typography end
       ========================= */

    /* =========================
            header start
       ========================= */
    .header-image01 {
        width: 180px;
        height: 280px;
        top: 123px;
        left: 0;
    }

    .header-image02 {
        top: 188px;
        right: 0;
        width: 170px;
        height: 215px;
    }

    .bdCricketBatch {
        width: 60px;
        height: 60px;
        top: -70px;
        right: 16%;
    }

    /* =========================
            header end
       ========================= */
    /* =========================
            main start
       ========================= */

    main .main-content {
        margin-top: 50px;
    }

    .main-content .cards-content .cards {
        grid-template-columns: repeat(2, 1fr);

    }

    /* =========================
            main end
       ========================= */
}

/*Responsive for Extra large Device */
@media (min-width: 1200px) and (max-width: 1399.98px) {

    /* =========================
            typography start
       ========================= */
    .main-heading {
        font-size: 48px;
        line-height: 52px;
    }

    .header-pragraph {
        font-size: 18px;
        line-height: 26px;
        width: 620px;
    }

    .card-title {
        font-size: 22px;
    }

    .line-marker {
        top: 60px;
        right: -13px;
        width: 170px;
    }

    /* =========================
            typography end
       ========================= */
    /* =========================
            header start
       ========================= */
    .header-image01 {
        width: 185px;
        height: 280px;
        top: 129px;
        left: 0;
    }

    .header-image02 {
        top: 173px;
        right: 0;
        width: 200px;
        height: 235px;
    }

    .bdCricketBatch {
        width: 70px;
        height: 70px;
        top: -80px;
        right: 16%;
    }

    /* =========================
            header end
       ========================= */
    /* =========================
            main start
       ========================= */


    .main-content .cards-content .cards {
        grid-template-columns: repeat(3, 1fr);

    }

    .main-content .sports-card {
        width: 250px;
    }

    .selectBtn,
    .budgetBtn {
        width: 100%;
    }

    /* =========================
            main end
       ========================= */
}